{% assign artists = include.artists %}
{% if artists %}
    <div class="photo-credit">
        image by 
        {% for artist_key in artists %}
            {% assign artist = site.data.artists[artist_key] %}
            {% if artist %}
                {% if forloop.first == false %},{% endif %}
                {% if artist.hyperlink %}
                    <a href="{{ artist.hyperlink }}" target="_blank" rel="noopener">{{ artist.name }}</a>
                {% else %}
                    {{ artist.name }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}